@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("/Inter\ Web/Inter") format("woff2"),
         url("/Inter\ Web/") format("woff");
  }
body{
    background-color: #2A2C2F;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    max-width: 270px;
    max-height: 70px;
}
.header__title {
    font-size: 6em;
    line-height: 104%;
    font-weight: 900;
    width: 793px;
    height: 200px;
    border: 1px solid red;
    color: #fff;
}
.header__subtitle{
    color: #fff;
    font-size: 1.875em ;
    border: 1px solid red;
}
.header__main-illustration{
    width: 984px;
    height: 615px;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1p solid blue;
}
.intro__title{
    color: #fff;
    width: 1017px;
    height: 60px;
    border: 1px solid red;
}
.intro__quote{
    color: #fff;
    border: 1px solid red;
}
.intro__quote-author{
    color: #fff;
    border: 1px solid red;
}
.intro__main-text{
    color: #fff;
    border: 1px solid red;
}
.photo-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    padding: 92px 48px 92px 48px;
    grid-gap: 16px;
    max-width: 1184px;
}
.photo-grid__item{
    width: 100%;
}
.places{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place{
    border: 1px solid red;
    max-width: 984px;
    max-height: 756px;
}
.place__title{
    color: #fff;
    font-size: 4.5em;
    max-width: 460px;
    max-height: 152px;
    line-height: 72px;
    font-weight: 900;
    margin-left: 0;
    margin-top: 0;
}
.place__paragraph{
    color: #fff;
    max-width: 484px;
}
.place__image{
    max-width: 460px;
    max-height: 460px;
    margin-left: 0;
}
.place__url-heading{
    display: flex;
    color: #AAAAAA;
    font-size: calc(1em - 4px);
    font-weight: 400;
    line-height: calc(1em - 1px);
    letter-spacing: 0.12em;
    margin-top: 107px;
    margin-right: 426px;
}